html, body {
    height: 95%;
    width: 95%;
}

.playerselect{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: white;
    z-index: 1000;
}

.playerselect_buttons{
    width: 200px;
    margin:auto;
}


button{
    border-radius: 1px;
    padding: 20px;
    background-color: rgb(247, 247, 247);
    margin: 20px;
}

.gamepad {
    height: 100%;
    width: 100%;
    text-align: center;
    display: block;
    background-color: rgb(189, 189, 189);
    padding: 20px;
    vertical-align: center;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}
.cross {
    height: 100%;
    width: 30%;
    float: left;
    background-color: black;
}
.ab {
    height: 100%;
    width: 30%;
    float: left;
    background-color: black;
}
.startselect {
    height: 100%;
    width: 30%;
    float: left;
    border-style: solid;
    border-color: black;
    border-radius: 0px;
}
.button {
    border-radius: 15px;
    border-color: rgb(189, 189, 189);
    border-style: solid;
    position: relative;
    top: 35%;
    display: inline-block;
    cursor: pointer;
}
.button.up, .button.down {
    width: 15%;
	height: 13%;
}

.button.up{
	margin-bottom: 5%;
}
.button.down{
	margin-top: 5%;
}

.button.left{
	margin-right: 2%;
}
.button.right{
	margin-left: 2%;
}
.button.left, .button.right {
    width: 30%;
	height: 7%;
}

.button.a, .button.b{
	height: 10%;
	width: 20%;
	background-color: red;
	top: 60%;
}

.button.b{
	margin-left: 15%;
}

.button.start, .button.select{
	height: 7%;
	width: 20%;
	background-color: black;
	color: grey;
	top: 50%;

}



@media (min-width: 700px) {
  .startselect, .ab, .cross{
  	width: 33% !important;
  }
}